# Human friendly name for the workflow
name: Deploy - Latest Changes

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Set of execution sessions that are part of this workflow
jobs:
  # Single deploy job since we're just deploying
  deploy:
    # Human friendly display name for the job
    name: Deploy to GitHub Pages

    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    # Configuration used to be able to publish to GitHub pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Define the OS that should be used during workflow execution
    runs-on: ubuntu-latest

    # Set of commands to run as part of the execution process
    steps:
      # Download the source code
      - name: Checkout
        uses: actions/checkout@v5

      # Configure the GH pages environment
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # Upload a copy of the static pages
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      # Installs the python build dependencies for generating a static site
      - name: Install Build Dependencies
        run: pip install -r requirements.txt

      # Build the static HTML content based on the markdown
      - name: Build Static Content
        run: mkdocs build

      # Uploads the built artifact to github pages
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload static files
          path: "site/"

      # Deploy the compiled pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  updateDataGatewayRagDb:
    # Human friendly display name for the job
    name: Update Data Gateway RAG DB

    # Define the OS that should be used during workflow execution
    runs-on: ubuntu-latest

    # Least permissions required to issue the update command to Data Gateway
    permissions:
      id-token: write

    # Ensure that the execution context is set to be able to auth to Entra
    environment: Data-Gateway-Cache

    # Set of commands to run as part of the execution process
    steps:
      # Log into the Entra ID with the GitHub federated identity credential (using the OIDC token)
      - name: Login to Entra ID
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # Get the access token for the update command for Data Gateway
      - name: Get Access Token - SHI - Data Gateway
        id: sdgAccessToken
        run: |
          sdgAccessToken=$(az account get-access-token --resource=4c40281b-a305-4aaf-90a4-d5bbee6eb8ed --query accessToken -o tsv)
          echo "::add-mask::$sdgAccessToken"
          echo "sdgAccessToken=$sdgAccessToken" >> "$GITHUB_OUTPUT"

      # Open a port and assign admin to the Azure SQL DB Service to allow the migration scripts to run
      - name: Issue RAG DB Regeneration Command
        shell: pwsh
        run: |
          # Issue the RAG update command to Data Gateway
          Invoke-RestMethod -Method 'Post' -Uri 'https://api.shilab.com/Api/Chat/UpdateDocs' -Headers '@{Authorization = "Bearer ${{ steps.sdgAccessToken.outputs.sdgAccessToken}}"}'
